# Regtest infrastructure URLs
# Copy this file to .env and adjust values for your local setup

VITE_REGTEST_INDEXER_URL=http://localhost:8094/regtest/api
VITE_REGTEST_PROXY_HTTP_URL=http://localhost:3000/json-rpc
VITE_REGTEST_PROXY_RPC_URL=rpc://localhost:3000/json-rpc
VITE_REGTEST_BITCOIND_URL=/bitcoind/wallet/miner
VITE_REGTEST_BITCOIND_USER=user
VITE_REGTEST_BITCOIND_PASS=password
